<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Mockify</title>
  <link rel="stylesheet" href="{{ url_for('static', filename='app.css') }}" />
</head>
<body>
  <div class="container">
    <p class="description">Enter some text that you want to "mockify". Similar to the 
      <a 
        href="https://knowyourmeme.com/memes/mocking-spongebob" 
        target="_blank">Spongebob mocking meme</a>.
    </p>
    <div class="form">
      <form method="POST">
        <input name="text_input" type="text" placeholder="EnTeR yOuR tExT">
      </form> 
      {% if mocked_text %}
        <input onclick="copyText()" id="textToCopy" type="text" value="{{ mocked_text }}" readonly/>
        <br /><span>*Select the text to copy.</span>
      {% endif %}
    </div>
  </div>
  
  <script>
    function copyText() {
      var textToCopy = document.getElementById("textToCopy"); 
     
      textToCopy.select(); 
      textToCopy.setSelectionRange(0, 99999); /*For mobile devices*/

      document.execCommand("copy"); 

      alert('Copied: ' + textToCopy.value); 
    }
  </script>
</body>
</html>

